---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import Hero from "../components/Hero.astro";
import Skills from "../components/Skills.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Products from "../components/Products.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";

const skills = [
  "TypeScript",
  "JavaScript",
  "HTML",
  "CSS",
  "Angular",
  "React",
  "Next",
  "Java",
  "C#",
  "Spring Boot",
  ".NET",
  "Tailwind",
  "User Interface Design",
  "User Experience Design",
  "Flexbox",
  "CSS Grid",
  "Astro",
  "SASS",
  "Design",
  "Figma",
  "XD",
  "SQL",
  "NoSQL",
  "Responsive Design",
  "GIT",
  "Spring Boot",
  "REST API",
  "CI/CD",
  "Docker",
  "AngularJS",
  "SCSS",
  "Kubernetes",
  "Mockup",
  "Web Design",
  "NX",
  "Photoshop",
  "Husky",
  "WYSIWYG",
  "Document Editor",
  "Rich Text Editing",
  "Chat GPT",
  "Prettier",
  "JSON",
  "Jest",
  "Junit",
  "Karma",
  "Jasmine",
  "KISS",
  "DRY",
  "Solid",
];

const career = [
  {
    date: "Dez 2023 - o momento · 9 meses",
    title: "Desenvolvedor Front-end",
    company: "Accountfy",
    link: "https://www.accountfy.com/",
    description: ["Angular", "Jenkins", "Onlyoffice", "Jenkins", "BitBucket"],
  },
  {
    date: "Jul 2022 - Out 2023 · 1 ano 4 meses",
    title: "Desenvolvedor Front-end",
    company: "Geofusion",
    link: "https://www.geofusion.com.br/",
    description: ["React", "Backbone", "JQuery", "GoCD", "GitLab"],
  },
  {
    date: "Nov 2020 - Jul 2022 · 1 ano 9 meses",
    title: "Desenvolvedor Front-end",
    company: "Theòs Sistemas Eclesiais",
    link: "https://www.theos.com.br/",
    description: ["Angular 2+", "AngularJS", "NX", "Azure DevOps"],
  },
  {
    date: "Mar 2020 - Nov 2020 · 9 meses",
    title: "Desenvolvedor",
    company: "DB1 Global Software",
    link: "https://www.db1.com.br/",
    description: [
      "Java",
      "Spring",
      "MySQL",
      "Flyway",
      "Azure DevOps",
      "Kubernetes",
    ],
  },
  {
    date: "Fev 2019 - Mar 2020 · 1 ano 2 meses",
    title: "Desenvolvedor Trainee",
    company: "DB1 Global Software",
    link: "https://www.db1.com.br/",
    description: [
      "C#",
      ".NET",
      "JQuery",
      "HTML",
      "CSS",
      "JavaScript",
      "Microsoft SQL Server",
    ],
  },
  {
    date: "Nov 2018 - Fev 2019 · 4 meses",
    title: "Desenvolvedor Estagiário",
    company: "DB1 Global Software",
    link: "https://www.db1.com.br/",
    description: ["Java", "JavaScript", "HTML", "CSS", "SQL"],
  },
  {
    date: "Jul 2018 - Nov 2018 · 5 meses",
    title: "Suporte Técnico",
    company: "Universidade Estadual de Maringá",
    link: "https://www.uem.br/",
    description: [
      "Suporte técnico",
      "Manutenção de hardware",
      "Atendimento ao cliente",
    ],
  },
];

const projects = [
  {
    name: "TrainerEase",
    link: "https://trainerease-frontend.onrender.com/",
    title: "Full Cycle Developer",
    description:
      "O TrainerEase tem como objetivo ajudar todos os Personal trainers a se organizar, aumentar a quantidade de alunos e economizar tempo em seu dia-a-dia",
  },
  {
    name: "BattleBit Server List",
    link: "https://bichinhos.app/",
    title: "Full Cycle Developer",
    description: "Lista de Servidores do game BattleBit",
  },
];
---

<Layout>
  <Menu />

  <div class="p-4 w-full flex flex-col max-w-4xl mx-auto">
    <Hero />
    <Skills items={skills} />
    <Experience items={career} />
    <Projects items={projects} />
    <Products items={[]} />
    <Contact />
  </div>

  <Footer />
</Layout>
